<nav>
  {% for item in site.data.navigation %}
    <navli>
      <a href="{{ item.link }}" {% if page.url == item.link %}style="color: red;"{% endif %}>
        <nbutton>
        {{ item.name }}
        </nbutton>
      </a>
  </navli>
  {% endfor %}
</nav>

<script>
  window.onscroll = function() {myFunction()};
  
  var header = document.getElementById("myHeader");
  var sticky = header.offsetTop;
  
  function myFunction() {
    if (window.pageYOffset > sticky) {
      header.classList.add("sticky");
    } else {
      header.classList.remove("sticky");
    }
  }
  </script>